.floating-stage {
   position: relative;
   width: 100%;
   height: 160px; /* adjust as needed */
   background: aliceblue;
   overflow: hidden;
 
   display: flex;
   align-items: center;
   justify-content: center;
 
   box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.134),
               inset 0 -4px 10px rgba(0, 0, 0, 0.082);
   font-family: "Poppins", "Nunito", "Comic Neue", sans-serif;
 }
 
 .floating-title {
   position: absolute; /* keep it in flow */
   z-index: 10;
   font-size: 3rem;
   font-weight: bold;
   padding: 0.4rem 1.6rem;
   border-radius: 0.5rem;
   /* background: rgba(255, 255, 255, 0.85); */
   z-index: 10;
   color: rgb(47, 44, 44);
 }
 
 .float {
   position: absolute;
   pointer-events: none;
   opacity: 0;
   will-change: transform, opacity;
   transform-origin: center;
 }
 
 @keyframes float {
   0% {
     transform: translate(0, 0) rotate(var(--start-rot));
     opacity: 0;
   }
   20% {
     opacity: var(--op);
   }
   50% {
     transform: translate(var(--dx), var(--dy))
       rotate(calc(var(--start-rot) + var(--rotDelta)));
   }
   100% {
     transform: translate(0, 0) rotate(var(--start-rot));
   }
 }
 